In [2]:
import time
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.sql.types import *

conf = SparkConf().setAppName("pyspark")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)

In [67]:
#I think it is not possible to use sets inside dataframes, so I had to use ArrayType
btc_raw = sc.parallelize([(0,1), (1,2), (2,5), (5,8), (7,8), (3,7), (3,4), (3,6), (10,11), (10,12), (12,13)])
G = btc_raw.flatMap(lambda x: [x, (x[1], x[0])]).groupByKey().map(lambda x: ( [x[0]], list(set(x[1])) ))

In [68]:
G.collect()

[([0], [1]),
 ([8], [5, 7]),
 ([4], [3]),
 ([12], [10, 13]),
 ([1], [0, 2]),
 ([5], [8, 2]),
 ([13], [12]),
 ([2], [1, 5]),
 ([6], [3]),
 ([10], [11, 12]),
 ([7], [8, 3]),
 ([3], [4, 6, 7]),
 ([11], [10])]

DataFrame Schema

In [69]:
schemaList = ["Node", "NN"]
schemaType = [ArrayType( IntegerType() ), ArrayType( IntegerType() )]
schemaNull = [False, True]

fields = [StructField(schemaList[0], schemaType[0], schemaNull[0]),\
          StructField(schemaList[1], schemaType[1], schemaNull[1])]

schema = StructType(fields)

Applying schema to RDD

In [70]:
dfG = sqlContext.createDataFrame(G, schema)
dfG.createOrReplaceTempView("graph")
dfG.printSchema()

root
 |-- Node: array (nullable = false)
 |    |-- element: integer (containsNull = true)
 |-- NN: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [71]:
sqlContext.sql("SELECT * FROM graph").show()
dfG.select("Node").show()

+----+---------+
|Node|       NN|
+----+---------+
| [0]|      [1]|
| [8]|   [5, 7]|
| [4]|      [3]|
|[12]| [10, 13]|
| [1]|   [0, 2]|
| [5]|   [8, 2]|
|[13]|     [12]|
| [2]|   [1, 5]|
| [6]|      [3]|
|[10]| [11, 12]|
| [7]|   [8, 3]|
| [3]|[4, 6, 7]|
|[11]|     [10]|
+----+---------+

+----+
|Node|
+----+
| [0]|
| [8]|
| [4]|
|[12]|
| [1]|
| [5]|
|[13]|
| [2]|
| [6]|
|[10]|
| [7]|
| [3]|
|[11]|
+----+

In [83]:
from pyspark.sql.functions import *

v_min = dfG.select( "Node", array(array_min( array_union(col("Node"), col("NN")) ) ).alias("v_min"))
                   
v_min.show()

+----+-----+
|Node|v_min|
+----+-----+
| [0]|  [0]|
| [8]|  [5]|
| [4]|  [3]|
|[12]| [10]|
| [1]|  [0]|
| [5]|  [2]|
|[13]| [12]|
| [2]|  [1]|
| [6]|  [3]|
|[10]| [10]|
| [7]|  [3]|
| [3]|  [3]|
|[11]| [10]|
+----+-----+

In [ ]:
def Min_Selection_Step(G): #dictionary format RDD
    v_min = G.map(lambda x: (x[0], min(x[1] | {x[0]})))  #See sql.functions.array_intersect()
    NN_G_u = G.map(lambda x: (x[0], x[1] | {x[0]}))
    #Broadcasting
    v_min_bc = sc.broadcast(dict(v_min.collect()))
    addEdge = NN_G_u.map(lambda x: (x[0], (x[1], v_min_bc.value[x[0]])) )
    addEdge1 = addEdge.flatMap(lambda x: [(y, x[1][1]) for y in x[1][0]])
    #Without broadcasting
    #addEdge1 = NN_G_u.join(v_min).flatMap(lambda x: [(y, x[1][1]) for y in x[1][0]])

    H = addEdge1.groupByKey().mapValues(lambda x: set(x))
    return H